/.ipynb_checkpoints
.jupyter/
.venv/
.vscode/
*.pyc

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

#coverage as gets done in github actions
*.xml
.coverage

# build wheels
dist/

#build docs

site/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/settings.json
.continue/config.yaml
tutorials/resources/you_first_data_quality_report.csv
scripts/test_null_behaviour.py
