name: Explicit Pandas 3.0 Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - 3-check-pandas-3-compatibility
  pull_request:
    branches:
      - "**"

jobs:
  test-pandas-3:
    name: Run Tests with Pandas 3.0 installed
    runs-on: ubuntu-latest
    env:
      # Disable implicitly syncing before running - we run an explicit sync first.
      UV_NO_SYNC: true

    steps:
      # Step 1: Check out the repository
      - name: Checkout code
        uses: actions/checkout@v6

      # Step 2: Setup uv and python
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
            python-version: 3.12

      # Step 3: Install dependencies
      - name: Install dependencies and test group
        run: uv sync --no-dev --group test --all-extras


      # Step 3a: Override pandas 3
      - name: Install Pandas >=3.0.1, <4 for testing
        run: uv add "pandas>=3.0.1,<4"

      # Step 4: Run tests and capture coverage > generates .coverage
      - name: Run tests with pandas 3
        run: |
          uv run -m pytest